page-upload {
    .mg{
        margin-top:20px !important;
    }
    .center{
        margin:0px auto 0px auto;
    }
    .input{
     //background-color: rgba(255, 255, 255, 0.1) !important;
    }
    .ip{
     background-color: rgba(255, 255, 255, 0.1) !important;
    }
    .ip2{
        background-color: transparent !important;
        border-bottom-width: 0px !important;
    }
    .transparent{
        background: transparent !important;
    }
    .img{
        background: url("../assets/imgs/zipdev.png");
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
        width:100%;
        height:100%;
        float:left;
    }
 
    ion-header{
        background: #604984 !important;
    }
 
    ion-navbar{
        background: #604984 !important;
    }
 
    ion-title{
        color: #fff !important;
    }

    ion-item{
        border: 0px !important
    }

    ion-range{
        margin-top: 0px !important;
        padding-top:5px !important;
        height: 20px !important;
        margin-bottom: 10px;
        //background: #604984 !important;
    }

    ion-card{
        background-color: transparent !important;
        border: 1px solid #604984;
        box-sizing: border-box;
    }

    ion-textarea{
        height:200px !important;
        color: color($colors, primary);
    }

    ion-input{
        color: color($colors, primary);
    }

    ionc-label{
        color: color($colors, light3);
    }
    .right-align{
        text-align:right !important;
        color:#fff;
        margin-bottom:0px !important;
        font-size: 12px;
    }
 
    .range_col{
        color:#fff; font-size:10px !important;
        margin-bottom:0px !important;
    }

    .range_row{
        margin-bottom:0px !important;
        padding-bottom: 0px !important;
    }
    .toolbar-background {
        background: #604984;
    }

    textarea {
        resize: both;
    }

    .btn{
        width: 30% !important;
        height: 30px;
        padding:10px 20px 10px 20px;
        font-size:1em;
        text-align: center;
        border: 1px solid #604984;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom:20px !important;
        color:#fff;
        margin-top:10px;
    }
    .btn2{
        float: left;
        width: 100% !important;
        padding:10px 5% 10px 5%;
        font-size:1em;
        text-align: center;
        border: 1px solid #604984;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom:0px !important;
        color:#fff;
    }
    .empty_avatar{
        width: 100px;
        height: 100px;
        border: 1px dashed #BB93FC;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .ps{
        float:left; color:#fff; font-weight:100; 
        font-size:12px; margin-bottom:0px !important; width: 100%;
    }
    .ph{
        float:left; color:#fff; font-weight:100; 
        font-size:12px; margin-bottom:10px !important; width: 100%;
    }
    .pf{
        float:left; color:#fff; font-weight:100; 
        font-size:10px; margin-bottom:10px !important;
         width: 100%; text-align: center; margin-top:2px !important;
    }
    .pfl{
        float:left; color:#fff; font-weight:100; 
        font-size:10px; margin-top:15px !important;
    }
    .pb{
        float:left; color:#fff; font-weight:100; 
        font-size:12px; margin-top:15px !important;
    }

    

    .fmBadge{
        float: left;
        padding:5px 3% 5px 3%;
        font-size:1em;
        text-align: center;
        //border: 1px solid #604984;
        background: color($colors, primary);
        box-sizing: border-box;
        border-radius: 10px;
        margin:5px 2px 5px 2px !important;
        color:#212121;
    }
    
    .FM{
        float:left;
        margin-top:10px;
    }
    .close_btn{
        margin-top:2px !important;
        padding-top:0px !important;
    }
    .project_text{
        color: color($colors, light2);
        padding-top:0px; margin-top:0px; font-weight:100;
    }
    .project_title{
        color: color($colors, light2);
        font-size: 20px;
    }
    .project_role{
        color: color($colors, primary);
    }
    .project_des{
        color: color($colors, light2);
        font-size: 12px;
    }
    
    
 }
 
 